//colors
$background: #ffffff;
$main-color-text: #505050;
$secondary-color-text: #212529;
$table-color-text: #606060;
$caption-color-text: #cccccc;
$table-border-color: #dee2e6;
$footer-bg-color: #f5f8fc;
//main colors
$color1: #2ba297;
$color2: #1e97d3;
$color3: #f7c636;
//muted colors
$color-muted-1: #a2d6d1;
$color-muted-2: #81c5e6;
$color-muted-3: #fce8af;
//dark colors
$color-dark-1: #2b877c;
$color-dark-2: #1d7db9;
$color-dark-3: #e1b331;
//fonts
$font-primary: 'Roboto', sans-serif;
body, html, .body{
  height: 100%;
  color: $text-color;
}
body{
  position: relative;
}
.body-background{
  background-image: url(http://c96597rg.bget.ru/my-planit/images/thin-waves-bg.png)!important;
  background-size: cover!important;
  background-repeat: no-repeat !important;
  background-position: center 68%!important;
  @media screen and (max-width: 425px){
    background-position: center 68%!important;
  }
  @media screen and (max-width: 400px){
    padding: 0 20px!important;
  }
}
table.body .container{
  border-radius: 5px;
  @media screen and (max-width: 400px){
    margin: 0 16px;
  }
}
.input-primary{
  display: inline-block;
  height: 38px;
  color: #495057;
  background-color: $white;
  border: 1px solid #ced4da;
  padding: 12px;
  font-size: 16px;
  margin-bottom: 16px;
  outline: none;
  border-radius: .25rem;
}
.input-centered{
  text-align: center;
}
.input-large{
  font-size: 28px;
  padding: 8px 12px;
  letter-spacing: 2px;
}
.btn-primary{
  text-transform: uppercase;
  background-color: $primary-color;
  border: 1px;
  height: auto;
  color: $white;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 400;
  border-radius: .3rem;
  a{
    min-width: 150px;
    text-align: center;
  }
}
.button-center{
  margin: 0 auto!important;
}
.form-primary{
  text-align: center;
}
.link-primary{
  color: $primary-color;
  font-size: 14px;
  &:hover{
    text-decoration: underline;
  }
  @media screen and (max-width: 425px){
    font-size: 16px;
  }
}
.link-primary-small{
  font-size: 80%;
}
.title, h1, h2, h3, h4, h5, h6, p {
  color: $main-color-text;
  font-family: $font-primary;
}

h1 {
  font-size: 48px;
  letter-spacing: -0.5px;
  word-spacing: 1px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
  word-spacing: 2px;
}
h4 {
  font-size: 24px;
  word-spacing: 2px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}
.text-bold {
  font-weight: 700;
}
.text-normal {
  font-weight: 400;
}
.text-light-weight {
  font-weight: 300;
  color: $main-color-text;
}

.text-large {
  font-size: 28px;
}
.text-middle {
  font-size: 24px;
  line-height: 140%;
}
.text-small {
  font-size: 18px;
}
.subtitle {
  font-size: 36px;
}

.content-text {
  margin-bottom: 0;
  color: $main-color-text;
  font-family: $font-primary;
  font-size: 22px;
  line-height: 176%;
}
.content-text-small {
  font-size: 12px;
}
.text-accented {
  color: $color2;
}
.text-accented-secondary {
  color: $color1;
}
.content-section{
  margin: 0 2%!important;
  width: 96%!important;
  .columns{
    padding: 0 10px;
  }
}
small{
  color: #a9a9a9;
}
.header-logo{
  max-width: 70%;
  margin: 0 auto;
}
.footer{
  background-color: $footer-bg-color!important;
  border-top: 1px solid $table-border-color;
  .container{
    background-color: $footer-bg-color!important;
  }
}
.footer-menu{
  position: relative;
  td{
    &:first-child{
      width: 100%!important;
    }
  }
  .menu-item{
    color: $color2;
    @media screen and (max-width: 600px){
      width: 100%!important;
      padding: 10px 0!important;
    }
  }
}
