---
layout: index-layout
subject: My Email Template
title: Page Title
description: Lorem ipsum.
---

<spacer size="16"></spacer>
<container>
  <spacer size="24"></spacer>
  {{>header}}
  {{>content}}
</container>
<spacer size="16"></spacer>
{{>footer}}
<spacer size="4"></spacer>



