<row class="content-section">
  <columns small="12">
    <spacer size="16"></spacer>
      <h3 class="title text-bold">Dear JJ,</h3>
      <p class="content-text">it is your one time password</p>
    <spacer size="16"></spacer>
    <form data-abide class="form-primary">
        <input class="input-primary input-large input-centered" type="text" value="36002117" readonly></input>
        <button href="#" class="btn-primary button-center radius text-center" type="submit">Login</button>
        <spacer size="16"></spacer>
        <small>This one time password is valid for 5 minutes from time it is generated.</small>
      </form>
    <spacer size="16"></spacer>
  </columns>
</row>