<wrapper class="footer">
  <container>
    <spacer size="16"></spacer>
    <row>
      <columns large="12">
        <menu class="footer-menu text-center">
          <item href="#" class="link-primary">Terms of Service</item>
          <item href="#" class="link-primary">Privacy Policy</item>
          <item href="#" class="link-primary">Learn More About myPlanit</item>
        </menu>
      </columns>
    </row>
    <row>
      <columns>
        <item href="mailto:info@myplanit.com" class="link-primary">info@myplanit.com</item>
        <small>myPlanit™ Inc. © 2019</small>
      </columns>
    </row>
  </container>
</wrapper>
